body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.donate-button {
    font-weight: 200px;
    color: white;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    justify-items: center;

}

.section-one {
    background: linear-gradient(rgba(27, 27, 27, 0.6), rgba(0, 0, 0, 0.8)), url(images/donation0.jpg);
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;


}

.heading {

    font-size: 50px;
    text-align: center;
    margin: 0;


}

.heading-primary {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

p {
    text-align: center;
}

.button-one {
    text-align: center;
    padding-top: 15px;
}

#donate-now {
    padding-top: 17%;
}

h2 {
    display: inline-block;
    background-color: rgb(223, 226, 226);
    color: rgb(95, 94, 94);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-inline: 5px;
    border-radius: 5px;

}

#highlight-button {
    color: tomato;
    border: solid tomato;
    background-color: rgb(243, 202, 194);
}

#money {
    text-align: center;
}